@model OreoHealth.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

@*When patient clicks on book an appointment, they are directed to the appointment form*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - OreoHealth</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>
<body>
    <div class="container">
        <h1>Book</h1>

        <h4>Appointment</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartDateTime" class="control-label"></label>
                        <input asp-for="StartDateTime" class="form-control" />
                        <span asp-validation-for="StartDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDateTime" class="control-label"></label>
                        <input asp-for="EndDateTime" class="form-control" />
                        <span asp-validation-for="EndDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PatientName" class="control-label"></label>
                        <input type="text" asp-for="PatientName" class="form-control" value="@ViewBag.PatientName" asp-items="ViewBag.PatientName">

                    </div>
                    <div class="form-group">
                        <label asp-for="DoctorName" class="control-label"></label>
                        <select asp-for="DoctorName" class="form-control" asp-items="ViewBag.DoctorName"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Book Appointment" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            @if (ViewBag.success != null)
            {
<script>alert('@ViewBag.success');</script>}
        </div>
    </div>
    <br/><br/><br/>
</body>

        @*<div>
                <a asp-action="Index">Back to List</a>
            </div>*@

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
